@model PairedModel
<div class="container">
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center p-1">Purchased Number</th>
            <th scope="col" class="text-center p-1">Friendly Name</th>
            <th scope="col" class="text-center p-1">Employee Assigned</th>
            <th scope="col" class="text-center p-1">Last Called</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (TwilioPhoneNumber t in Model.TwilioPhoneNumbers)
            {

                <tr>
                    <th scope="row" class="text-center p-1">@t.PhoneNumber</th>
                    <td class="text-center p-1">@t.FriendlyName</td>
                    @{
                        Employee emp = new Employee();

                        foreach (Employee e in Model.Employees)
                        {

                            if (e.AssignedNumber != null && (e.AssignedNumber.Trim() == t.PhoneNumber))
                            {
                                
                                emp = e;
                                break;
                            }

                        }

                        string result = emp.AssignedNumber == null ? "None" : $"{emp.FirstName} {emp.LastName}";

                        <td class="text-center p-1">@result</td>
                        <td class="text-center p-1">@emp.LastCall.ToString()</td>
                    }
                    
                </tr>

            }
        }
    </tbody>
</table>
</div>