@model CombinedModel
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Purchased Number</th>
            <th scope="col">Friendly Name</th>
            <th scope="col">Employee Assigned</th>
            <th scope="col">Last Called</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (TwilioPhoneNumber t in Model.TwilioPhoneNumbers)
            {

                <tr>
                    <td>@t.PhoneNumber</td>
                    <td>@t.FriendlyName</td>
                    @{
                        Employee emp = new Employee();

                        foreach (Employee e in Model.Employees)
                        {
                            System.Diagnostics.Debug.WriteLine($"Looking at {e.FirstName} {e.LastName}");
                            System.Diagnostics.Debug.WriteLine($"Their number: {e.AssignedNumber}");
                            System.Diagnostics.Debug.WriteLine($"Comparing to: {t.PhoneNumber}");

                            if (e.AssignedNumber != null && (e.AssignedNumber.Trim() == t.PhoneNumber))
                            {
                                System.Diagnostics.Debug.WriteLine($"Found number {e.AssignedNumber}");
                                emp = e;
                                break;
                            }

                        }
                        System.Diagnostics.Debug.WriteLine($"Hello There");

                        string result = emp.AssignedNumber == null ? "None" : $"{emp.FirstName} {emp.LastName}";

                        <td>@result</td>
                        <td>@emp.LastCall.ToString()</td>
                    }
                    
                </tr>

            }
        }
    </tbody>
</table>