@model CombinedModel
<div class="container">
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Purchased Number</th>
            <th scope="col">Friendly Name</th>
            <th scope="col">Employee Assigned</th>
            <th scope="col">Last Called</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (TwilioPhoneNumber t in Model.TwilioPhoneNumbers)
            {

                <tr>
                    <th scope="row">@t.PhoneNumber</th>
                    <td>@t.FriendlyName</td>
                    @{
                        Employee emp = new Employee();

                        foreach (Employee e in Model.Employees)
                        {

                            if (e.AssignedNumber != null && (e.AssignedNumber.Trim() == t.PhoneNumber))
                            {
                                
                                emp = e;
                                break;
                            }

                        }

                        string result = emp.AssignedNumber == null ? "None" : $"{emp.FirstName} {emp.LastName}";

                        <td>@result</td>
                        <td>@emp.LastCall.ToString()</td>
                    }
                    
                </tr>

            }
        }
    </tbody>
</table>
</div>