@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');


html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* general box sizing over */


:root {
    font-size: 16px;
    --primary-black: #181818;
    --primary-white: #e5eeed;
    --test-black: #1e1e24;
    --light-red: hsl(0, 70%, 50%); /* #ee5454 */
    font-family: "Noto Sans";
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: var(--primary-black);
    background-image: linear-gradient(var(--primary-white) 50%, #eeeeed);
    
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: var(--primary-black)
}
body {
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left: 0;
}

.homediv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.hometitle {
    font-size: 5rem;
    font-family: 'Staatliches';
}

.homedetails {
    font-size: 1.25rem;
}

li {
    list-style: none;
}

svg.bi {
    width: 1.5rem;
    height: 1.5rem;
}

.brand {
    font-size: 2rem;
}

.settings-btn {
    display: none;
}

body::-webkit-scrollbar {
    width: .75rem;
}

body::-webkit-scrollbar-track {
    background: #241e1f;
}

body::-webkit-scrollbar-thumb {
    background: var(--light-red);
}






.list-wrapper {

    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    justify-content: center;
}

/*navbar*/
.navigation-pane {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 20rem;
    background-image: linear-gradient(#16191a 50%, #13121a);
    color: var(--primary-white);
    left: 0;
    top: 0;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    font-family: 'Staatliches';
    font-kerning: none;
    letter-spacing: .1rem;
    padding-block: 1.25rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--light-red);
    filter: grayscale(100%) opacity(.7);
    justify-content: center;
}

.nav-text {
    margin-left: 1.5rem;
}

.nav-bottom {
    margin-top: auto;
}

.navigation-item {
    width: 100%;
}

    .navigation-item a {
        transition: filter ease-in 100ms;
    }

        .navigation-item a:hover {
            filter: grayscale(0%) opacity(1);
        }

main {
    display: flex;
    flex-direction: column;
    width: 100% - 20rem;
    margin-left: 20rem;
    padding-inline: 1rem;
    align-items: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 1rem;
    margin-left: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    margin: 0;
}

a.title-button, a.list-btn{
    transition: filter ease-in 50ms;
}

a.title-button:hover, a.list-btn:hover {
        filter: grayscale(10%) opacity(.7)
    }

.box-separator-title {
    font-size: min(calc(2rem + 3vw), 4rem);
    ;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Staatliches';
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}



.title-box {
    
    display: flex;
    align-items: center;
    
    margin-left: -1rem;
    margin-top: -.5rem;
    margin-bottom: .25rem;
    min-height: 75px;
    width: calc(100% + 4rem);
    padding: 1rem 2rem 1.5rem 2rem;
    background-image: linear-gradient(90deg, #16191a 50%, #13121a);
}

.page-title {
    font-size: min(calc(1rem + 3vw), 3rem);
    color: var(--primary-white);
}

.title-button {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: var(--light-red);
    color: var(--primary-white);
    padding-block: .5em;
    padding-right: .25em;
    border-radius: .25em;

    text-transform: uppercase;
    font-family: 'Staatliches';
    font-size: 1rem;
}

    .title-button:first-of-type {
        margin-left: auto;
        margin-right: .25em;
    }
    .title-button svg {
        height: 1em;
        width: 1em;
    }

.listbox {
    display: grid;
    grid-template-columns: repeat(12, calc(100%/12));
    grid-template-rows: repeat(12, calc(100%/12));
    min-height: 6rem;
    width: 90%;
    max-width: 900px;
    min-width: 500px;
    box-shadow: 3px 3px 4px hsla(250, 21%, 16%, 0.2);
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 4px;
}

    .listbox * {
        grid-row-start: 7;
    }

.item-name {
    /* Vertical */
    grid-row-start: 1;
    grid-row-end: 6;
    align-self: start;
    /* Horizontal */
    grid-column-start: 1;
    grid-column-end: 11;
    justify-self: start;
}

.list-buttons {
    display: flex;
    justify-content: center;
    /* Vertical */
    grid-row-start: 1;
    grid-row-end: 13;
    align-self: center;
    /* Horizontal */
    grid-column-start: 10;
    grid-column-end: 13;
    justify-self: end;
}

.list-details {
    /* Vertical */
    grid-row-start: 6;
    grid-row-end: 13;
    align-self: end;
    /* Horizontal */
    grid-column-start: 1;
    grid-column-end: 13;
    justify-self: start;
}

.list-btn {
    display: flex;
    background-color: var(--light-red);
    border-radius: .5rem;
    color: white;
    padding: .25rem;
    margin-right: .25rem;
}

    .list-btn svg {
        height: 2rem;
        width: 2rem;
    }

@media screen and (max-width: 912px) {

    .navigation-pane {
        flex-direction: row;
        flex-wrap: wrap;
        height: 200px;
        width: 100vw;
        bottom: 0;
        top: auto;
    }

    .nav-text {
        display: none;
    }

    .nav-link svg {
        height: 3rem;
        width: 3rem;
    }

    .settings-btn {
        display: flex;
    }

    .nav-bottom {
        margin: 0;
    }

    .navigation-item {
        width: 25%;
    }

    .responsive-w {
        width: 50%;
    }

    .list-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list-btn {
        margin-bottom: .25rem;
        margin-right: 0;
    }

    .list-details {
        display: flex;
        flex-direction: column;
    }

    .listbox {
        width: 100%;
        min-height: 8rem;
    }

    main {
        margin-left: 0;
        left: 0;
        top: 0;
        width: 100%;
    }

    footer {
        margin-left: 0;
        left: 0;
        width: 100%;
    }
}


@media screen and (min-width: 1380px) {
    .listbox {
        width: 48%;
    }

        .listbox:nth-of-type(odd) {
            margin-right: 2%;
        }
}

.formbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

#registerForm {
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;

}



.form-floating {
    display: grid;
    grid-template-columns: repeat(12, calc(100%/12));
    grid-template-rows: repeat(12, calc(100%/12));
}

.form-floating input {
    grid-row-start: 1;
    grid-row-end: 13;

    grid-column-start: 5;
    grid-column-end: 13;

    width: 100%;

    justify-self:center;
}
.form-floating label {
    grid-row-start: 1;
    grid-row-end: 13;

    grid-column-start: 1;
    grid-column-end: 5;
    font-size: min(calc(100vw/30), 1rem);
    
    margin-left: auto;
    margin-right: .25rem;
}
.externalbox {
    padding-block: 4rem;
}
.externalbox > section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
