@model IEnumerable<TwilioWebApplication.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="homediv">
    <h1 class="hometitle">Twilio Phone Number Management Portal</h1>

    <section class="homedetails">

        <p>From here, you can edit your phone numbers after registering with a <b>Twilio Sid</b> and <b>Auth Token</b>.</p>

        <p>The call IVR flow is stored in the <b>/wwwroot</b> folder in JSON format. </p>


    </section>
    
</div>
