@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="homediv" style="padding: 1rem;">
    <h1 class="hometitle">@ViewData["Title"]</h1>

    <section class="homedetails">

        <p>This application utilizes a database which stores user's Twilio Account Id's and Auth Tokens.</p>

        <p>Please <b>DO NOT</b> proceed if you do not feel like your data is secure in the application's database.</p>
        <p>The application seeks to avoid sharing this information with anyone except for the user the information belongs to.</p>
        <p>No sharing of data with external sources (aside from the minimum amount required for Twilio) is performed on this app.</p>
        <p>With this in mind, we hope this application provides great use to you or your business. <b>Thank you for trying this application!</b></p>
    </section>
    
</div>
