@page
@model PersonalizationModel
@{
    ViewData["Title"] = "Personalize Account";
    ViewData["ActivePage"] = ManageNavPages.Personalization;
}

<h3>@ViewData["Title"] </h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" id="personalization-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Input.NewBrandName"></label>
            <input asp-for="Input.NewBrandName" value=""/>

            <img src="@Model.FormFile"/>
            <label asp-for="Input.NewFormFile"></label>
            <input asp-for="Input.NewFormFile" type="file" />


            <input asp-page-handler="ChangePersonalization" class="btn" type="submit" value="upload" />
        </form>
    </div>
</div>