@model IEnumerable<Employee>
@*

*@

<div class="container p-3">
    <div class="row">
 <div class="col-6">
     <h3 class="text-primary">Employee List</h3>
 </div>
 <div class="col-6 text-end">
     <a asp-controller="Employee" asp-action="AddNewEmployee" class="btn btn-primary">
         Add New Employee
     </a>
 </div>
 </div>

</div>
@{
    int count = 1;
    foreach(int i in ViewData["CompanyIds"] as List<int>)
    {
        
        ViewData["companyId"] = i;
        <h3 class="text-primary" style="margin-inline: auto; text-align:center;">Company @count</h3>
        <partial name="~/Views/Shared/_Employees.cshtml" view-data="ViewData"/>

        count++;
    }

    
}
