@model PairedModel
@*
*@
@{

}

<div class="title-box">
    <h1 class="page-title">
        Purchased Numbers</h1>
        <a asp-controller="Employee" asp-action="AddNumber" class="title-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            <span> Add Numbers</span>
        </a>
        <a asp-controller="Employee" asp-action="RefreshNumbers" class="title-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            <span>Refresh Numbers and Database</span>
        </a>
        <a asp-controller="Employee" asp-action="RefreshFlow" class="title-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            <span>Refresh Flow, Numbers, and DB</span>
        </a>
</div>

    @if(ViewData["Error"] != null)
    {
        <div style="width: 100%; height: 100px; display: flex; justify-content: center;">
                <p>@ViewData["Error"]</p>
        </div>

    }

<div class="list-wrapper">
<partial name="~/Views/Shared/_Numbers.cshtml" />
</div>