@model CombinedModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center container-fluid">

    <h1 class="">Purchased Twilio Numbers</h1>

    <p>Create, Delete, or Edit Twilio Numbers via Twilio's API</p>

</div>

<partial name="~/Views/Shared/_Numbers.cshtml" />
